{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Cookie Gourmand</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static extra_css %}">
    {% endif %}
</head>
<body>
    <header>
        <a href="{% url 'homepage' %}"><img src="{% static 'pictures/logo_les_cookies_gourmand.png' %}" class="logo"></a>

        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Accueil</a></li>
                <li><a href="{% url 'products-all_products' %}">Mes Cookies</a></li>
            </ul>
        </nav>
        <div class="icons">
            {% if user.is_authenticated %}                 
                <a href="{% url 'accounts-logout' %}">Déconnexion</a>
                {%if user.cart %}
                    <a href="{% url 'shopping_cart-cart' %}">Panier ({{ user.cart.total_quantity }})</a>
                {% endif %}
            {% else %}
                <a href="{% url 'accounts-sign_up' %}">S'inscrire</a>
                <a href="{% url 'accounts-sign_in' %}">Connexion</a>
            {% endif %}
        </div>
    </header>
    <main> 
        <div class="autenticated">
            {% if user.is_authenticated %}
                <p>Bonjour, {{user.username}}!</p>
            {% endif %}
        </div>   
        {% block content %}
        {% endblock %}     
    </main>
    <footer>
        <p>&copy; 2025 Le Cookie Gourmand. Tous droits réservés.</p>
    </footer>
</body>
</html>
