{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Cookie Gourmand</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static extra_css %}">
    {% endif %}
</head>
<body>
    <header>
        <a href="{% url 'homepage' %}"><img src="{% static 'pictures/logo.jpg' %}" class="logo"></a>

        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}" class="link">Accueil</a></li>
                <li><a href="{% url 'products-all_products' %}" class="link">Mes Cookies</a></li>
                <li><a href="{% url 'about' %}" class="link">À propos</a></li>
            </ul>
        </nav>

        <div class="icons">
            {% if user.is_authenticated %}                 
                <a href="{% url 'accounts-logout' %}" class="link">Déconnexion</a>
                {%if user.cart %}
                    <a href="{% url 'shopping_cart-cart' %}" class="link">Panier ({{ user.cart.total_quantity }})</a>
                {% endif %}
            {% else %}
                <a href="{% url 'accounts-sign_up' %}" class="link">S'inscrire</a>
                <a href="{% url 'accounts-sign_in' %}" class="link">Connexion</a>
            {% endif %}
        </div>

    </header>



    <main> 
        <div class="autenticated">
            {% if user.is_authenticated %}
                <p>Bonjour, {{user.username}}!</p>
            {% endif %}
        </div>   
        {% block content %}
        {% endblock %}     
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>À propos de nous</h2>
                <p>Le Cookie Gourmand est votre destination pour les meilleurs cookies faits maison. Découvrez notre histoire et notre passion pour les pâtisseries.</p>
            </div>
            <div class="footer-section contact">
                <h2>Contactez-nous</h2>
                <p>Email : contact@lecookiegourmand.com</p>
                <p>Téléphone : +33 1 23 45 67 89</p>
            </div>
            <div class="footer-section social">
                <h2>Suivez-nous</h2>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Site : Alexandre.S . Tous droits réservés.</p>
        </div>
    </footer>
    
</body>
</html>
